.App {
  text-align: center;
  color: #fff;
}

.App-header {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-image: url("../src/assets/img/background-image.jpg"); /* Set the background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.blurry {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  content: "";
  filter: blur(8px);
  height: 80%;
  position: absolute;
  right: 0;
  top: 0;

  .alt & {
    background-position: left top;
    left: 0;
    right: auto;
  }

  .middle & {
    background-position: center top;
    transform: translateX(-50%);
  }
}

img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 20px;
  height: 100%;
  padding: 20px 120px;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 50%; */
  z-index: 1;

  .alt & {
    left: 0;
    right: auto;
  }

  /* .middle & {
		transform: translateX(-50%);
	}
  
	h2 {
		font-size: 36px;
		margin: 0;
	} */
}
